img {
    height: 58px;
    width: auto;
}
section {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 25px;
    width: 330px;
}
#screen {display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border: solid 2px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: white;
    padding-top: 30px;
}
h1 {
    font-size: 160px;
    margin: 0 auto;
}
p {
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}
article {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    background-color: rgb(216, 216, 216);
}